spring:
  application:
    name: workingsafe

  datasource:
    url: jdbc:sqlserver://aci-sql-workingsafe.eastus.azurecontainer.io:1433;databaseName=db_workingsafe;encrypt=true;trustServerCertificate=true;loginTimeout=30;
    username: sa
    password: "Fiap@DevOps123!"
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

    jpa:
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.SQLServerDialect

  sql:
    init:
      mode: never

  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false

  messages:
    basename: i18n/messages
    encoding: UTF-8

  web:
    locale: pt_BR
    locale-resolver: accept_header

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    template:
      exchange: workingsafe.events

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: phi3:mini

server:
  error:
    whitelabel:
      enabled: false

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
